greenacape.ge {
    log {
      output stdout
      format console
      level DEBUG
    }

    encode gzip zstd

    reverse_proxy greenacape-frontend:80

    header {
      -Server
      X-Content-Type-Options nosniff
      X-Frame-Options DENY
      Referrer-Policy "strict-origin-when-cross-origin"
    }
  }

  :80 {
    log {
      output stdout
      format console
      level DEBUG
    }

    encode gzip zstd

    @health path /health
    respond @health "OK" 200

    handle {
      reverse_proxy greenacape-frontend:80
    }

    header {
      -Server
      X-Content-Type-Options nosniff
      X-Frame-Options DENY
      Referrer-Policy "strict-origin-when-cross-origin"
    }
  }